@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RS1_2020_01_30.ViewModels.DodajTakmicenjeWM
@{

	ViewData["Title"] = "Index";

}

<h4>Dodavanje Takmičenja</h4>
<hr>
<div class="row">
	<div class="col-md-4">

		<form asp-controller="Takmicenje" asp-action="Snimi">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label style="font:normal" asp-for="SkolaId">Škola Domaćin :</label>
				<label style="font:bold" class="control-label" asp-for="SkolaNaziv">@Model.SkolaNaziv</label>
			</div>

			<div class="form-group">
				<label class="control-label" asp-for="PredmetId">Predmet:</label>
				<select class="form-control" asp-for="PredmetId" asp-items="@Model.ListaPredmeta"></select>
				<span class="text-danger" asp-validation-for="PredmetId" ></span>						
			</div>
			<div class="form-group">
				<label class="control-label" asp-for="Razred">Razred:</label>
				<select class="form-control" asp-for="Razred" asp-items="@Model.ListaRazreda"></select>
				<span class="text-danger" asp-validation-for="Razred"></span>			
			</div>

			<div class="form-group">
				<label class="control-label" asp-for="Datum">Datum:</label>
				<input class="form-control" asp-for="Datum" type="date"/>
				<span class="text-danger" asp-validation-for="Datum"></span>
			</div>

			<div class="form-group">
				<label class="control-label"></label>
				<input class="btn btn-default" type="submit" value="Snimi" name="name">



			</div>





		</form>



	</div>



</div>		

@*label=control-label
select=form-control
span=textdanger*@








@*<h4>korisnik može odabrati </h4>
<hr>
<div class=row>
	<div class="col-md-4">
		<form asp-controller="Takmicenje" asp-action="Odaberi">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="skolaId" class="control-label">Škola</label>
				<select asp-for="skolaId" asp-items="@Model.Skole" class="form-control"></select>
				<span asp-validation-for="skolaId" class="text-danger"> </span>
			</div>
			<div>
				<label asp-for="Razred" class="control-label">Razredi</label>
				<select asp-for="Razred" asp-items="@Model.Razredi" class="form-control"></select>
				<span asp-validation-for="Razred" class="text-danger"> </span>
			</div>
			<div class="form-group">
				<input type="submit" name="name" value="Odaberi" class="btn btn-default" />
			</div>

		</form>
	</div>
</div>*@