@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

	var load = true;

}

@model RS1_2020_01_30.ViewModels.RezultatiWM

<script>

	window.onload = function () {
		myFunc();
	};


	//var data = $('#lista').serialize()

	//$.ajax({
	//	type: "POST",
	//	url: '/AjaxStavke/ajax',     //your action
	//	data: data ,   //your form name.it takes all the values of model
	//	dataType: 'json',
	//	success: function (result) {
	//		$("#ajax").html(result);
	//	}
	//})

	function myFunc()
	{
		$.get("/AjaxStavke/ajax?Id=@Model.takmicenjeId", function (result) {
				$("#ajax").html(result);
			});

		myFunc = function () { }; // kill it as soon as it was called

	};











</script>




<h2>rezultati Takmicenje</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form id="test" asp-controller="" asp-action="">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="PredmetId" value="@Model.PredmetId" hidden />
			<input asp-for="skolaId" calue="@Model.skolaId" hidden />
			<div class="form-group">
				<label class="control-label" asp-for="Skolanaziv">Škola Domaćin</label>
				<input class="form-control" asp-for="Skolanaziv" value="@Model.Skolanaziv" readonly />
				<span class="text-danger" asp-validation-for="Skolanaziv"></span>
			</div>
			<div class="form-group">
				<label class="control-label" asp-for="PredmetNaziv">Predmet</label>
				<input class="form-control" asp-for="PredmetNaziv" value="@Model.PredmetNaziv" readonly />
				<span class="text-danger" asp-validation-for="PredmetNaziv"></span>
			</div>
			<div class="form-group">
				<label class="control-label" asp-for="Razred"> Razred</label>
				<input class="form-control" asp-for="Razred" value="@Model.Razred" readonly />
				<span class="text-danger" asp-validation-for="Razred"></span>
			</div>
			<div class="form-group">
				<label class="control-label" asp-for="Datum">Datum</label>
				<input class="form-control" asp-for="Datum" value="@Model.Datum" readonly />
				<span class="text-danger" asp-validation-for="Datum"></span>
			</div>

			<div class="form-group">

				@*<a class="btn btn-default" ajax-url="/Takmicenje/Zakljucaj?Id=@Model.takmicenjeId ajax-poziv="da" ajax-rezultat="ajax"> zakljucaj</a>*@
				<a class="btn btn-default" asp-action="Zakljucaj" ajax-poziv="da" ajax-rezultat="ajax" asp-route-Id="@Model.takmicenjeId"> zakljucaj</a>

			</div>


		</form>



	</div>




</div>

<div id="ajax">


</div>

<div>



	<a class="btn btn-default" asp-route-Id="@Model.skolaId" asp-controller="Takmicenje" asp-action="DodajView">Dodaj Takmicenje</a>






</div>



<div>
	<form id=lista>
		<input asp-for="SpisakUcesnika" value="@Model.PredmetId" hidden />
	</form>
</div>






@*div aspvalidation-summary text-danger
	hidden inputs
	div block
	label
	input or select
	span
	kraj div blocka
	input type button or a*@
