@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RS1_Ispit_asp.net_core.WM.PrikaztakmicenjaWm


	<table class="table table-bordered">


		<thead>

			<tr>

				<td>Skola</td>
				<td>Razred</td>
				<td>Datum</td>
				<td>Predmet</td>
				<td>Najboljiucesnik</td>
				<td>Akcija</td>
			</tr>






		</thead>





		<tbody>


			@foreach (var a in Model.Spisaktakmicenja)
			{

				<tr>

					<td>@a.TakmicenjeId</td>
					<td>@a.Skolanaziv</td>
					<td>@a.Razred</td>
					<td>@a.Datum</td>
					<td>@a.Predmet</td>
					<td>@a.Nskola | @a.Nodljenje | @a.Nskola</td>
					<td> <a asp-action="Index" asp-controller="Ucesnici" asp-route-Id="@a.TakmicenjeId" >Uredi</a></td>
				</tr>







			}










		</tbody>






	</table>








