@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RS1_2020_01_30.ViewModels.RezultatiWM
	<script src="/jsFIT.js"></script>

@if (Model.iszakljucano == true)
{


	<table class="table table-bordered">

		<thead>
			<tr>

				<td>Odjeljenje </td>
				<td>Broj u Dnevniku</td>
				<td>Pristupio</td>
				<td>Rezultat Bodovi</td>
				<td>Akcija</td>

			</tr>
		</thead>
		<tbody>

			@foreach (var a in Model.SpisakUcesnika)
			{
			<tr style="width:300px">
				<td>@a.odjeljeneNaziv</td>
				<td>@a.Brojudnevniku</td>

				@if (a.Pristupio == true)
				{
					<td>Da</td>
					<td>@a.Rezultatibodovi</td>
				}
				else
				{
					<td>Ne</td>
					<td>X</td>
				}



				<td>Uredi</td>





			</tr>

			}
		</tbody>

	</table>


}
else
{
	<table class="table table-bordered">

		<thead>
			<tr>

				<td>Odjeljenje </td>
				<td>Broj u Dnevniku</td>
				<td>Pristupio</td>
				<td>Rezultat Bodovi</td>
				<td>Akcija</td>

			</tr>
		</thead>
		<tbody>

			@foreach (var a in Model.SpisakUcesnika)
			{


			<tr style="width:300px">
				<td>@a.odjeljeneNaziv</td>
				<td>@a.Brojudnevniku</td>

				@if (a.Pristupio == true)
				{
					<td><a ajax-poziv="da"
                           ajax-rezultat="ajax" 
						   asp-action="UcesnikNijePristupio" 
						   asp-controller="Takmicenje" 
						   asp-route-Id="@a.Id" 
						   asp-route-takId="@Model.takmicenjeId" 
						   class="btn-success">Da</a></td>
					<td>@a.Rezultatibodovi</td>
				}
				else
				{
					<td><a ajax-poziv="da"
                           ajax-rezultat="ajax" 
						   asp-action="UcesnikJePristupio" 
						   asp-controller="Takmicenje" 
						   asp-route-Id="@a.Id" 
						   asp-route-takId="@Model.takmicenjeId"
						   class="btn-danger">Ne</a></td>
					<td>X</td>
				}

				<td><a ajax-poziv="da"
					   ajax-rezultat="ajax"
					   asp-action="Uredi"
					   asp-controller="AjaxStavke"
					   asp-route-Id="@a.Id"
					   >Uredi</a>
				</td>


				
			</tr>

			}
		</tbody>

	</table>









}











