@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RS1_2020_07_06.WM.PrikazTakmicenja

<h2>Prikaz Takmicenja</h2>

<hr>

<div class="row">
	<div class="col-md-5">
		<form>
			<input asp-for="SkolaId" value="@Model.SkolaId" hidden/>

			<div class="form-group">
				
				<label class="control-label" asp-for="SkolaId"></label>
				<select class="form-control" asp-for="SkolaId" asp-items="@Model.ListaSkola"></select>
				<span asp-validation-for="SkolaId" class="text-danger"></span>

			</div>

		</form>
		

	</div>

</div>


<div>
	<table class="table table-bordered" >
		
		<thead>
			<tr>
				<td>Škola</td>
				<td>Razred</td>
				<td>Datum</td>
				<td>Predmet</td>
				<td>Najbolji Učesnik (škola | Odjeljenje |Ime i Prezime)</td>
				<td>Akcija</td>

			</tr>
		</thead>

		<tbody>
			@foreach (var a in Model.Listatakmicenja)
			{ 
			<tr>
				<td>@a.SkolaNaziv</td>
				<td>@a.Razred</td>
				<td>@a.Datum</td>
				<td>@a.PredmetNaziv</td>
				<td>@a.SkolaNazivN | @a.OdjeljenjeOznaka | @a.ImeUcesnika</td>
				<td>Rezultati</td>


			</tr>
			}
		</tbody>

		
	</table>
</div>


<div class="button">


	<a class="btn btn-default" asp-controller="Takmicenje"  asp-action="DodajTakmicenjeView">Dodaj</a>




</div>


